.regal {
  color: gold;
  background-color: rgb(151, 16, 151);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.alpaca {
  color: royalblue;
  background-color: sandybrown;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
}
