@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poem-font: "Estonia", cursive;
  --libre-font: "Libre Baskerville", serif;
  --body-font: "EB Garamond", serif;

  --black: rgba(34, 23, 0, 1);
  --brown: rgba(118, 80, 0, 1);
  --ochre: rgba(226, 153, 1, 1);
  --white: rgba(255, 254, 251, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    rgba(226, 153, 1, 1),
    rgba(255, 254, 251, 1),
    rgba(118, 80, 0, 1)
  );
}

.gaunt {
  color: brown;
  font-family: var(--body-font);
}

.font {
  margin-bottom: 840px;
  color: var(--brown);
  font-family: var(--libre-font);
}

.connect {
  color: red;
  margin: 40px;
}

.text-test {
  font-family: var(--poem-font);
}
